.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}

.faq header {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

.faq main {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}

main .faq-left, main .faq-right {
    flex: .5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
    gap: 20px;
}

.faq-left .title {
  font-size: 64px;
  font-weight: normal;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.faq-left .title span {
  font-weight: 800;
  font-style: italic;
}

.faq-left .faq-box, .faq-right .faq-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background: #f7f7f7;
    padding: 40px 50px;
    border-radius: 24px;
  font-family: "Work Sans", sans-serif;

}

.faq-left .faq-box .header, .faq-right .faq-box .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.faq-box .header .question {
    text-transform: uppercase;
}

.faq-box .header .icon {
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 8px;
    cursor: pointer;
}

.faq-box .answer {
  display: none;
}

.faq-box .answer.is-open {
  display: block;
}
