@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+SAS:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.hero {
  width: 100%;
  margin: 0 auto;
  padding: 80px;
  max-width: 1800px;
  background: #ffdd81;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.hero .details {
  flex: 65%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 100px;
  /* justify-content: space-between; */
}

.details .cta {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.cta h3 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}

.cta span {
  font-weight: 800;
  font-style: italic;
}

.cta p {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  width: 85%;
  line-height: 30px;
}

.details .det {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.det .btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.det .btn button {
  padding: 19px 40px;
  border-radius: 12px;
  outline: none;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #303030;
}

.btn #apply {
  background: #303030;
  color: white;
}

.btn #learn {
  background: transparent;
  color: #303030;
}

.det .text p {
  font-size: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

.det .text small {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-family: "Work Sans", sans-serif;
}

.hero .image {
  flex: 35%;
}
