@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+SAS:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

nav .items .nav-items a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
}

nav .items .nav-items a:hover {
    text-decoration: underline;
}

nav .items button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    border: 1px solid #303030;
    padding: 14px 40px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

nav .items button:hover {
    background: #303030;
    color:  white;
}