.pricing {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 80px;
}

.pricing header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.pricing header p {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

.pricing header h3 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.pricing header h3 span {
  font-weight: 800;
  font-style: italic;
}

.pricing main {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

main .pricing-card {
  background: #f7f7f7;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 59px;
  gap: 50px;
  cursor: pointer;
}

.pricing-card .header,
.pricing-card .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-card .header h4 {
  font-size: 40px;
  font-weight: normal;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

.pricing-card .header small {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

.pricing-card .header p {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}


.pricing-card .header p span {
  font-weight: 800;
  font-style: italic;
}

.pricing-card .list p {
  font-family: "Work Sans", sans-serif;
}

.pricing-card button {
  background: #303030;
  color: white;
  padding: 19px 40px;
  border: none;
  border-radius: 12px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.pricing #middle {
    background: #ffdd81;
}

@media (max-width: 768px) {
  .pricing {
    gap: 40px;
    padding-top: 30px;
  }

  .pricing header {
    gap: 10px;
  }

  .pricing header h3 {
    font-size: 30px;
  }

  .pricing main {
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: mandatory;
   align-items: start;
   justify-content: start;

    &::-webkit-scrollbar {
      scrollbar-width: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  main .pricing-card {
    padding: 30px 39px;
    gap: 40px;
    cursor: pointer;
    flex: 0 0 80%;
  }

  .pricing-card .header h4 {
    font-size: 30px;
  }

  .pricing-card .header p {
    font-family: "Playfair Display", serif;
    font-size: 30px;
  }

  .pricing-card button {
    padding: 12px 20px;
    font-size: 16px;
  }
}
