.testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.testimonial .top-section,
.testimonial .bottom-section {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

#header {
  background: none;
}

.top-section .header,
.top-section .box,
.bottom-section .box {
  width: 33.33%;
  padding: 40px;
  background-color: #f7f7f7;
  height: 200px;
  border: none;
  border-radius: 24px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial .top-section .header p {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.testimonial .top-section .header h3 {
  font-size: 34px;
  font-weight: normal;
  width: 60%;
  text-align: start;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.testimonial .top-section .header h3 span {
  font-weight: 800;
  font-style: italic;
}

.box small {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .testimonial .top-section,
  .testimonial .bottom-section {
    overflow-x: auto;
    scroll-snap-type: mandatory;

    &::-webkit-scrollbar {
      scrollbar-width: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
  }

  .top-section .header,
  .top-section .box,
  .bottom-section .box {
    width: 100%;
    flex: 0 0 65%;
    scroll-snap-align: center;
    padding: 20px;
    background-color: #f7f7f7;
  }

  .testimonial .top-section .header p {
    font-size: 14px;
  }

  .testimonial .top-section .header h3 {
    font-size: 20px;
  }

  .testimonial .top-section .box p, .testimonial .bottom-section .box p {
    font-size: 14px;
  }

  .testimonial .top-section .box small, .testimonial .bottom-section .box small {
    font-style: 12px;
  } 
}
